<main>
  <section class="header-bar">
    <article class="button-array">
      <div
        *ngFor="let lang of languageArray"
        class="button"
        [ngClass]="{ active: lang.language === currentLanguage }"
        (click)="switchLanguage(lang.language)"
      >
        <div class="img-container">
          <img [src]="lang.icon" alt="" />
        </div>
        <p>{{ lang.title }}</p>
      </div>
    </article>
  </section>

  <section class="side-bar">
    <article class="nav">
      <a [routerLink]="'/'" class="logo">
        <img src="assets/img/side-bar-icons/logo.svg" alt="logo" />
      </a>
      <div *ngFor="let item of sidebarItems" class="nav-item">
        <a
          href=""
          [routerLink]="item.route"
          routerLinkActive="active-link green-line-hover"
        >
          <div>
            <img
              [src]="'assets/img/side-bar-icons/' + item.icon"
              alt="icon"
              class="icon"
            />
          </div>
          <span class="link-text">{{ item.title | translate }}</span>
        </a>
      </div>
    </article>
  </section>

  <section class="content">
    <ng-content></ng-content>
  </section>
</main>
